body{
    color:aquamarine;
    background-color:brown;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
}
backgroud{
    color:black;
    background-color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
}